<h1 class='text-3xl font-bold text-gray-400 text-center mt-5'>SHOPPING LIST</h1>
<% @items.each do |item| %>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3 class="font-bold text-gray-400">Amount of food items to buy: <%= @items.size %></h3>
      <h3 class="font-bold text-gray-400">Total value of food needed: <%= number_to_currency(@total_price) %></h3>
      <div class="bg-white shadow-md rounded my-6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="block rounded-lg shadow-lg bg-white p-6 mb-3 mt-2">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-center">Food</th>
          <th class="py-3 px-6 text-center">Quantity</th>
          <th class="py-3 px-6 text-center">Price</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <% @items.each do |item| %>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap">
              <div class="flex items-center">
                <%= item.food_name %>
              </div>
            </td>
            <td class="py-3 px-6 text-left">
              <div class="flex items-center">
                <%= item.quantity %> <%= item.food.measurement_unit %>
              </div>
            </td>
            <td class="py-3 px-6 text-left">
              <div class="flex items-center">
                <%= number_to_currency(item.total_price) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

