<h1 class='text-3xl font-bold text-gray-400 text-center mt-5'>SHOPPING LIST</h1>
<% count = 0 %>
<% sum = 0 %>
<% @items.each do |item| %>
  <% sum += item.food.price %>
  <% count += 1 %>
<% end %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3 class="font-bold text-gray-400">Amount of food items to buy: <%= count %></h3>
      <h3 class="font-bold text-gray-400">Total value of food needed: <%= number_to_currency(sum) %></h3>
      <div class="bg-white shadow-md rounded my-6">
        <table class="table">
          <thead class="bg-gray-200 text-gray-600">
            <tr>
              <th class="py-3 px-6 text-left">Food</th>
              <th class="py-3 px-6 text-center">Quantity</th>
              <th class="py-3 px-6 text-center">Price</th>
            </tr>
          </thead>
          <tbody class="text-gray-600">
            <% @items.each do |item| %>
              <tr class="border-bottom border-gray-200">
                <td class="py-3 px-6 text-left">
                  <div class="d-flex align-items-center">
                    <span class="font-medium"><%= item['name'] %></span>
                  </div>
                </td>
                <td class="py-3 px-6 text-center">
                  <div class="d-flex justify-content-center">
                    <span class="bg-success text-white py-1 px-3 rounded-full text-xs"><%= item['quantity'] %> <%= item['measurement_unit'] %></span>
                  </div>
                </td>
                <td class="py-3 px-6 text-center">
                  <div class="d-flex justify-content-center">
                    <%= number_to_currency(item['total_price']) %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>