<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'Add New Recipe', new_new_recipe_path %></li>
      <li><%= link_to 'Add New Food', new_food_path %></li>
      <li><%= link_to 'List of Recipes', new_recipes_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
</header>
