<%= link_to 'Add food', new_food_path, class: 'btn btn-primary mt-5 ms-5' %>
<div class="table-responsive">
  <table class="table table-bordered mt-3">
    <% if @foods.empty? %>
      <h3 class="nofo">There are no food yet...</h3>
    <% else %>
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Measurement Unit</th>
          <th>Unit Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %></td>
            <td>
              <%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
