<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card rounded-lg shadow-lg bg-white px-4 py-5">
        <h2 class="mb-4 text-center">Add New Food</h2>
        <%= form_with scope: :food, url: foods_path, method: :post, class: "form" do |form| %>
          <div class="form-group mb-4">
            <%= form.label :name, class: "form-label text-gray-400" %>
            <%= form.text_field :name, required: true, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group mb-4">
            <%= form.label :measurement_unit, class: "form-label text-gray-400" %>
            <%= form.text_field :measurement_unit , required: true, class: "form-control" %>
          </div>
          <div class="form-group mb-4">
            <%= form.label :price, class: "form-label text-gray-400" %>
            <%= form.number_field :price, required: true, step: "0.01", value: 0.1, class: "form-control" %>
          </div>
          <div class="form-group mb-4">
            <%= form.label :quantity, class: "form-label text-gray-400" %>
            <%= form.number_field :quantity, required: true, class: "form-control" %>
          </div>
          <div class="d-flex justify-content-between">
            <%= form.submit "Save", class: "btn btn-primary btn-lg" %>
            <%= link_to 'Back', url_for(:back), class: "btn btn-danger btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success mt-4"><%= flash[:notice] %></div>
<% end %>
