<% if current_user.id == @recipe.user_id %>
  <button class="btn btn-primary btn-sm mb-3" type="button" data-bs-toggle="modal" data-bs-target="#authentication-modal">
    Add ingredient
  </button>
<% end %>

<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal content -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="mb-4 text-xl font-medium text-gray-900">Add an Ingredient</h3>
        <%= form_with model: RecipeFood, data: { turbo: false }, url: new_recipe_recipe_food_path(@recipe), class: "row g-3" do |f| %>
          <div class="col-md-12">
            <%= f.label :food_id, "Food", class: "form-label" %>
            <%= f.select :food_id, current_user.foods.map { |food| [food.name, food.id] }, {}, class: "form-select" %>
          </div>
          <div class="col-md-12">
            <%= f.label :quantity, "Quantity", class: "form-label" %>
            <%= f.number_field :quantity, class: "form-control" %>
          </div>
          <div class="col-md-12">
            <%= f.submit "Add ingredient", class: "btn btn-primary w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
